# Pycache and compiled python files.
__pycache__/
*py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints

#Egg info files produced by pip installation
*egg-info

# Virtual Environments
venv/

# IDE
.idea/
